---
layout:       post
title:        "Hello World"
subtitle:     "\"Hello World, Hello Blog\""
date:         2018-04-13 12:00:00
author:       "Lorry"
header-mask:  0.3
catalog:      true
multilingual: true
tags:
    - 生活(live)
---

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include posts/2018-04-13-hello-world/zh.html %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include posts/2018-04-13-hello-world/en.html %}{% endcapture %}
    {{ about_en | markdownify }}
</div>